*{
	margin: 0;
	padding: 0;
}
body{
    background-image: url(../img/bg2.jpg)
}
.obox {
    width: 250px;
    height: 550px;
    background: white;
    border-left: solid 5px red;
    border-right: solid 5px red;
    margin: 50px auto;
    box-shadow: 1px 1px 20px 2px;
    text-align: center;
}
.logo img {
    width: 50px;
    background: white;
    margin-top: 20px;
}

.box1 {
    width: 100px;
    height: 30px;
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-size: 100px;
    color: #B10A34;
    font-size: 14px;
    margin: 20px auto;
}

.box2 {
    background: white;
}
.box2 img{
	width: 150px;
	background: white;
}
a{
	text-decoration: none;
}
.box3 {
    width: 150px;
    height: 50px;
    background: white;
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: 150px;
    margin: 20px auto;
    line-height: 40px;
    color: #FFD571;
}
