*{
	margin: 0;
	padding: 0;
}
body{
    background-image: url(../img/bg2.jpg);
}
.obox {
    width: 350px;
    height: 100%;
    margin: 0 auto;
}
.box1 {
    width: 350px;
    height: 200px;
    text-align: center;
    color: #FFD471;
    background: url(../img/九宫格_02.png) no-repeat 0px 0px/350px 100% ;
    position: relative;
}
.box11 {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 120px;
    cursor: pointer;
}

.box2 {
    width: 320px;
}
.box21 {
    width: 320px;
    border: solid 5px #F1301E;
    background: white;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}

.box91{
	width: 90%;
	border-radius:10px ;
	text-align: center;
	padding-top: 10px;
	font-weight:900 ;
	margin: 0 auto;
}
.box91 img {
	width: 90px;
}
.box91 h3{
	font-size: 24px;
	margin-top:0px;
}
.box91 p{
	margin-top: 10px;
}
.box91 p:nth-child(2){
	font-size: 24px;
	color: red;
	font-weight: 900;
	margin:10px 0 ;
}
.box91 p:nth-child(7){
	margin-top:30px;
}
.box91 p:nth-child(7){
	width: 100%;
	border-top:solid 1px #E7E7E7 ;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 20px;
}
.box7-ok{
	background: red;
	color: gold;
	border-radius:10px ;
}
.box92{
	width: 90%;
	border-radius:10px ;
	text-align: center;
	padding-top: 10px;
	font-weight:900 ;
	margin: 20px auto;
}
.box92 img {
	width: 90px;
}
.box92 h3{
	font-size: 24px;
	margin-top:0px;
}
.box92 p{
	margin-top: 10px;
}
.box92 p:nth-child(2){
	font-size: 24px;
	color: red;
	font-weight: 900;
	margin:10px 0 ;
}
.box92 p:nth-child(7){
	margin-top:30px;
}
.box92 p:nth-child(7){
	width: 100%;
	border-top:solid 1px #E7E7E7 ;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 20px;
}

a{
	text-decoration: none;
}
.box22 {
    width: 320px;
    height: 50px;
    background: url(../img/a2.png) no-repeat 0px 0px/320px 100%;
    color: #FFD06E;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    margin-top: 20px;
}

.box6{
	width: 340px;
	background: white;
	top: 25%;
	left: 10%;
	border-radius:10px ;
	position: fixed;
	display: none;
}
.box5{
	width: 340px;
	height: 320px;
	background: white;
	line-height: 24px;
	border-radius:10px ;
	overflow: auto;

}
.box5 h3{
	text-align: center;
	margin-top: 10px;
}
.box5 p{
	font-weight: 900;
	margin-left: 20px;
	margin-right: 20px;
}
.box5-p{
	width: 100%;
	text-align: center;
	background: #E7E7E7;
	font-size: 24px;
    border-radius:0 0 10px 10px;
    height: 40px;
    line-height: 40px;
}
.box4{
	border: solid 1px black;
	position: fixed;
	width: 300px;
	height: 200px;
	background: white;
	top: 136px;
	left: 56px;
	padding-top: 10px;
	display: none;
}
.box4 input{
	width: 250px;
	height: 25px;
	margin-bottom: 30px;
	margin-top: 15px;
	outline: none;
}
.box4 span{
	width: 100%;
	margin: 0px 10px ;
	font-size: 18px;
	background: #E7E7E7;
	padding: 3px;
	cursor: pointer;
}
